li {
	margin-left: 2rem;
	text-align: justify;
	font-size: 1.9em;
}
#maingrid-audience {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr;
    grid-template-rows: 1fr .3fr 0.5fr;
	padding: 0.5rem;
	max-width: 22em;
}

#description {
	grid-column: 1/2;
	grid-row: 1/2;
	color: #0E0F16;
}

#personas {
	grid-column: 1/2;
	grid-row: 2/3;
    margin-top: .5em;
	color: #0E0F16;
}

#scenarios {
	margin-top: 2rem;
	grid-column: 1/2;
	grid-row: 3/4;
	color: #0E0F16;
}

header,
nav,
main,
footer {
	max-width: 22em;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}
h2 {
	padding: .5rem;
}

p {
	padding: .5rem;
    text-align: justify;
}

nav {
	background-color: #4e383a;
	text-align: center;
	box-shadow: 0 0 30px #333;
}

nav {
	display: flex;
	flex-direction: column;
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 1rem;
}

nav a:hover {
	background-color: #27353C;
	color: #FCFCF2;
}

/***********************************************/
/** Media Queries for larger views *************/
/***********************************************/

/*****************************************Tablets*********************************************/

@media only screen and (min-width: 37.5em) {

    header,
	footer {
		max-width: 51.25em;
	}

	nav {
		flex-direction: row;
		max-width: 51.25em;
	}

    #maingrid-audience {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr .5fr;
        gap: 1em;
        padding: 0.5rem;
        max-width: 51.25em;
    }

    #description {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    #personas {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    #scenarios {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-top: 1em;
    }
}

    /******************************Desktops********************************/

@media (min-width: 48em) {

	header,
	footer {
		max-width: 100%;
	}

	nav {
		max-width: 100%;
	}

	nav a {
		font-size: 1.3rem;
	}

    #maingrid-audience {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
       
        max-width: 80%;
    }


    #description {
        grid-column: 1/2;
        grid-row: 1/3;
        margin-left: 0%;
    }

    #personas {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    #scenarios {
        grid-column: 2/3;
        grid-row: 2/3;
    }

}
