*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
	background-color: #c3c4a0;
}

header {
	background-color: #b5a280;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	max-width: 22em;
}

footer {
	background-color: #b5a280;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	max-width: 22em;
}

p {
	text-align: justify;
	font-size: 1.9em;
	color: #0E0F16;
	padding: .5rem;
}

main {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr .5fr 15em;
	padding: 0.5rem;
	max-width: 22em;
}

#nameofsite {
	grid-column: 1/2;
	grid-row: 1/2;
	color: #0E0F16;
}


h2 {
	margin-left: 2rem;
	text-align: center;
}

#purpose {
	grid-column: 1/2;
	grid-row: 2/3;
	color: #0E0F16;
}

#domainname {
	margin: 0%;
	grid-column: 1/2;
	grid-row: 3/4;
	color: #0E0F16;
}

#logo {
	grid-column: 1/2;
	grid-row: 4/5;
	color: #0E0F16;
}

#logoimage {
  display: block;
  margin: auto;
}


header,
nav,
main,
footer {
	max-width: 22em;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
	color: #0E0F16;
	font-family: "Work+Sans", "sans-sarif";
}


nav {
	background-color: #4e383a;
	text-align: center;
	box-shadow: 0 0 30px #4e383a;
}

nav {
	display: flex;
	flex-direction: column;
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 1rem;
}

nav a:hover {
	background-color: #27353C;
	color: #FCFCF2;
}



/***********************************************/
/** Media Queries for larger views *************/
/***********************************************/

/*****************************************Tablets*********************************************/

@media only screen and (min-width: 37.5em) {

	header,
	footer {
		max-width: 51.25em;
	}

	nav {
		flex-direction: row;
		max-width: 51.25em;
	}
	
	nav a {
		font-size: 1.4rem;
	}
	
	main {
		max-width: 51.25em;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 10px 10px 1fr;
	}

	#nameofsite {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	#domainname {
		grid-column: 1/2;
		grid-row: 2/3;
	}
	
	#logo {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	#purpose {
		grid-column: 2/3;
		grid-row: 1/4;
	}
}

/******************************Desktops********************************/

@media (min-width: 48em) {

	header,
	footer {
		max-width: 100%;
	}

	nav {
		max-width: 100%;
	}

	nav a {
		font-size: 1.6rem;
	}

	

	main {
		max-width: 80%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

}

