


p {
	text-align: justify;
	font-size: 1.5em;
}

#maingrid-typography {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr;
    grid-template-rows: 1fr;
	padding: 0.5rem;
	max-width: 22em;
}

#typography {
	text-align: center;
}

#fonth1 {
	font-family: "open-sans", "sans-serif";
}

#fonth2 {
	font-family: "open-sans", "sans-serif";
}

#fontp {
	text-align: center;
	font-family: "Montserrat", "sans-serif";
}

#navfont {
	text-align: center;
	font-family: "open-sans", "sans-serif";
}

#footerfont {
	text-align: center;
	font-family: "open-sans", "sans-serif";
}

/***********************************************/
/** Media Queries for larger views *************/
/***********************************************/

/*****************************************Tablets*********************************************/

@media only screen and (min-width: 37.5em) {

	header,
	footer {
		max-width: 51.25em;
	}

	nav {
		flex-direction: row;
		max-width: 51.25em;
	}
	
	nav a {
		font-size: 1.1rem;
	}
	
	main {
		max-width: 51.25em;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
}

/******************************Desktops********************************/

@media (min-width: 48em) {

	header,
	footer {
		max-width: 100%;
	}

	nav {
		max-width: 100%;
	}

	nav a {
		font-size: 1.3rem;
	}

	
	#maingrid-typography {
        justify-content: center;
		max-width: 80%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

}