@media only screen and (min-width: 35rem) {
    

    /************* Main ************************/
    #call-action{
      grid-column: 1;
      grid-row: 3;
      background-color: #ffa090;
      margin-top: -24.5em;
   }
  
    /***************Footer**********************/
    
    .socialicons {
   
      margin-right: 37%;
    
    }
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }

    .site-footer [class^=col-]
  {
    margin-bottom:30px
  }

    
    /****************Footer Ends Here***********/

    /*********************BUTTON************************/
    form input.submitBtn {
      margin: 0 0 2rem -38%;
    }

    #juicebtn {
     
      margin-top: 1em;
      margin-bottom:  1em;
    }

    /*********************************ABOUT US***************************************************/
#history {
  grid-column: 1;
  grid-row: 1;
  height: 12em;
  background-color: #ffa090;
  text-align: center;
  font-family: "Neucha";
  color: #7b2031;
  font-size: 1.6em;
}

#map {
  grid-column: 1;
  grid-row: 2;
  background-color: #ffa090;
  text-align: center;
  font-family: "Neucha";
  color: #7b2031;
  font-size: 1.3em;
  margin-top: -4.7em;
}

/******************IMAGES*************************/
.imgs {
  width: 675px;
  height: 515px;
}

/***************OUTPUT*********************************/
.mixes {
  margin-left: 19em;
}




}