@media only screen and (min-width: 35rem) {
    

    /************* Main ************************/
  
    /***************Footer**********************/
    
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }

    .site-footer [class^=col-]
  {
    margin-bottom:30px
  }

    
    /****************Footer Ends Here***********/

    /*********************BUTTON************************/
    form input.submitBtn {
      margin: 0 0 2rem -38%;
    }




}